.cart-page section {
  padding: 100px 50px;
}
.cart-page section table {
  border-collapse: collapse;
  width: 100%;
}
.cart-page section table th {
  border-bottom: 2px solid #ddcbbe;
}
#root > div > div > section > table > tbody > tr:last-child {
  border-top: 2px solid #ddcbbe;
}
.cart-page section table th {
  padding: 10px 5px;
  font-size: 1.8rem;
  text-align: left;
}
.cart-page section table tr td {
  padding: 15px;
}
.cart-page section table tr td.product {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 400px;
}
.cart-page section .item img {
  width: 200px;
  height: 200px;
}
.cart-page section .item td.quantity .center {
  gap: 10px;
}
.cart-page section .item td.quantity .center button {
  background: var(--c-accent);
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
}
.cart-page .buttons {
  gap: 25px;
}
.cart-page a {
  all: unset;
}
