.card {
  max-width: 300px;
  display: grid;
  grid-template-rows: 300px 1fr 50px;
  border: 1px solid red;
}
.card img {
  width: 100%;
}
.card .desc {
  text-align: center;
  display: grid;
  grid-template-rows: 70px 1fr;
  padding: 10px;
}
.card .desc .price span {
  color: rgb(102, 102, 102);
}
