* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
:root {
  --c-accent: #bf1313;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
@font-face {
  font-family: Edo;
  src: url("/src/fonts/edo.ttf");
}
section {
  min-height: 100vh;
}
.text-center {
  text-align: center !important;
}
.text-pri {
  color: #bf1313;
}
